<form *ngIf="form" class="default-form" [formGroup]="form" (ngSubmit)="submitForm()">
  <app-avatar-form
    [imageSrc]="imageForm.controls.image.value"
    [user]="user"
    (imageChanged)="imageChanged($event)"
  ></app-avatar-form>
  <nb-form-field>
    <input
      fullWidth
      type="text"
      nbInput
      formControlName="name"
      placeholder="Nome fantasia"
      appFormControlStatus
      [control]="controls.name"
      status
    />
  </nb-form-field>
  <nb-form-field>
    <input
      fullWidth
      type="text"
      nbInput
      formControlName="phoneNumber"
      placeholder="Nº para contato"
      appFormControlStatus
      [control]="controls.phoneNumber"
      status
      [mask]="'(00) 0 0000-0000'"
      maxlength="16"
    />
  </nb-form-field>
  <nb-form-field>
    <input
      fullWidth
      type="text"
      nbInput
      formControlName="address"
      placeholder="Endereço"
      appFormControlStatus
      [control]="controls.address"
      status
    />
  </nb-form-field>
  <nb-form-field>
    <input
      fullWidth
      type="text"
      nbInput
      formControlName="number"
      placeholder="Número"
      appFormControlStatus
      [control]="controls.number"
      status
    />
  </nb-form-field>
  <nb-form-field>
    <input
      fullWidth
      type="text"
      nbInput
      formControlName="district"
      placeholder="Bairro"
      appFormControlStatus
      [control]="controls.district"
      status
    />
  </nb-form-field>
  <nb-form-field>
    <input
      fullWidth
      type="text"
      nbInput
      formControlName="complement"
      placeholder="Complemento"
      appFormControlStatus
      [control]="controls.complement"
      status
    />
  </nb-form-field>
  <nb-form-field>
    <input
      fullWidth
      type="text"
      nbInput
      formControlName="zipCode"
      placeholder="CEP"
      appFormControlStatus
      [control]="controls.zipCode"
      status
    />
  </nb-form-field>
  <button
    type="submit"
    nbButton
    fullWidth
    status="primary"
    [nbSpinner]="loading"
    [disabled]="loading || !form.valid"
  >
    ATUALIZAR
  </button>
</form>
