<nb-layout>
  <nb-layout-header class="layout-header" fixed>
    <div class="header-content">
      <button nbButton ghost>
        <nb-icon
          icon="menu-outline"
          status="control"
          style="width: 1.5rem; height: 1.5rem"
        ></nb-icon>
      </button>

      <a class="img-container" href="#">
        <img src="../../../assets/img/logo gamer.png" />
      </a>
    </div>
  </nb-layout-header>

  <nb-layout-column class="layout-column">
    <div class="content">
      <div class="promo-wrapper">
        <h2 class="text-control">JOGOS EM PROMOÇÃO! ATÉ 20% DE DESCONTO!</h2>
        <button nbButton status="primary">Compre agora</button>
      </div>
      <div class="hero-img">
        <!-- adicionar titulo aqui-->
        <h3 class="text-control">Forza Horizon 4</h3>
        <p class="text-control">
          Forza Horizon 4 foi oficialmente apresentado na conferência do Xbox na E3 2018
        </p>

        <div class="btn">
          <button nbButton status="primary">Veja Mais</button>
        </div>
      </div>

      <h3>Mais jogos</h3>
      <card-showcase></card-showcase>
    </div>
  </nb-layout-column>
  <nb-layout-footer style="background-color: #272727 !important"
    >Contate-Nos</nb-layout-footer
  >
</nb-layout>
