<nb-layout>
  <nb-layout-header  class="layout-header"  fixed>
   

  <nb-icon
  icon="menu-outline"
  status="control"
  style="width: 1.5rem; height: 1.5rem"
></nb-icon>



<img src="../../../assets/img/logo gamer.png">
  </nb-layout-header>
  <nb-layout-header subheader style="background-color: rgb(200, 132, 42);">
    <h2>JOGOS EM PROMOÇÃO! ATÉ 20% DE DESCONTO!</h2>
   <button nbButton class="button-Subheader">Compre agora</button>
   </nb-layout-header>
  
  <nb-layout-column class="colored-column-basic">
    <div class="background-img">
      
      <!-- adicionar titulo aqui-->
       <h3>Forza Horizon 4</h3>
       <p>Forza Horizon 4 foi oficialmente apresentado na conferência do Xbox na E3 2018</p>
      
      <button nbButton class="button-info">Veja Mais</button>
    </div>
    
    <h3>Mais jogos</h3>
    <nb-card-showcase></nb-card-showcase>
  </nb-layout-column>
  <nb-layout-footer  style="background-color: #272727 !important;">Contate-Nos</nb-layout-footer>
</nb-layout>


