.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-header {
  background-color: rgb(39, 39, 39) !important;

  .header-content {
    @extend .flex-between;
    flex: 1;

    .img-container {
      width: 70px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.layout-column {
  padding: 0 !important;

  .content {
    position: relative;

    .promo-wrapper {
      gap: 1rem;
      width: 100%;
      background-color: #a56b15d4;
      padding: 1rem;
      position: absolute;
      @extend .flex-between;

      h2 {
        margin: 0;
      }
    }

    .hero-img {
      background: url('../../../assets/img/forza-horizon5.jpg') no-repeat;
      background-size: cover;
      background-position: center;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: calc(100vh - 76px);

      p,
      h3 {
        text-align: center;
      }
    }

    h3 {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 768px) {
  .promo-wrapper {
    flex-direction: column;
    text-align: center;
  }
}
