$primary-color: #ff4556;

// light theme
$color-primary-100: #ffe7e7;
$color-primary-200: #ffcaca;
$color-primary-300: #fd9494;
$color-primary-400: #ff4b4b;
$color-primary-500: $primary-color;
$color-primary-600: #e42e2e;
$color-primary-700: #c72222;
$color-primary-800: #dfd2d2;
$color-primary-900: #861212;
// header component (layout)
$header-background-color: $primary-color;
// avatar component
$user-initials-text-color: #fff;
$user-title-text-color: #fff;
$user-name-text-color: #fff;
