<nb-layout>
  <nb-layout-column id="body-column">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <nb-card>
        <nb-card-body>
          <div class="img-container">
            <img src="assets/svg/logo-full-red.svg" alt="logo" appLazyLoadImage />
          </div>
          <h6>Autenticação</h6>
          <nb-form-field>
            <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
            <input
              fullWidth
              type="text"
              nbInput
              formControlName="email"
              placeholder="exemplo@email.com"
              appFormControlStatus
              [control]="controls.email"
              status
            />
          </nb-form-field>
          <nb-form-field>
            <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
            <input
              fullWidth
              [type]="showPassword ? 'text' : 'password'"
              nbInput
              formControlName="password"
              placeholder="Senha"
              appFormControlStatus
              [control]="controls.password"
              status
            />
          </nb-form-field>
          <div class="remmember-area">
            <nb-checkbox status="primary" [formControl]="controls.remmemberMe"
              >Lembrar?</nb-checkbox
            >
            <span>Esqueceu a senha?</span>
          </div>
          <button
            nbButton
            fullWidth
            status="primary"
            type="submit"
            [nbSpinner]="loading"
            [disabled]="!form.valid || loading"
          >
            ENTRAR
          </button>
        </nb-card-body>
        <nb-card-footer>
          <p>
            <a href="#">Termos de Uso</a> - <a href="#">Políticas de Privacidade</a> -
            <a href="#">Contato</a>
          </p>
          <p>Copyright © {{ currentYear }} - Instant Delivery - v{{ version }}</p>
        </nb-card-footer>
      </nb-card>
    </form>
  </nb-layout-column>
</nb-layout>
