<div class="card-row">

    <div class="card-col" >
      <nb-card size="small" class="card-backgroundImg">
        <nb-card-header class="title-headerCard">Mais procurados</nb-card-header>
      </nb-card>
    </div>

    <div class="card-col">
      <nb-card size="small" class="card-backgroundImg">
        <nb-card-header class="title-headerCard">Com 30% de desconto</nb-card-header>
      </nb-card>
    </div>

    <div class="card-col">
      <nb-card size="small" class="card-backgroundImg">
        <nb-card-header class="title-headerCard">Em lançamento</nb-card-header>
      </nb-card>
    </div>
</div>
