<div class="cards">
  <nb-card size="small" class="card-backgroundImg">
    <nb-card-header class="text-control">Mais procurados</nb-card-header>
    <div class="card-img"></div>
  </nb-card>

  <nb-card size="small" class="card-backgroundImg">
    <nb-card-header class="text-control">Com 30% de desconto</nb-card-header>
    <div class="card-img"></div>
  </nb-card>

  <nb-card size="small" class="card-backgroundImg">
    <nb-card-header class="text-control">Em lançamento</nb-card-header>
    <div class="card-img"></div>
  </nb-card>
</div>
